.nitro-backgrounds {
  width: $backgrounds-width;
  height: $backgrounds-height;
  min-width: $backgrounds-width;
  min-height: $backgrounds-height;
}

.non-selectable {
  cursor: default;

  .profile-background {
    filter: opacity(0.5);
    transition: linear .25s;

    &:hover {
      filter: opacity(1);
    }
  }
}


.profile-background {
  background-repeat: no-repeat;
  background-position: center;
  height: 135px;
  width: 68px;

  &.background-0 {
    background-image: url('@/assets/images/backgrounds/bg_0.png');
  }

  &.background-1 {
    background-image: url('@/assets/images/backgrounds/bg_1.png');
  }

  &.background-2 {
    background-image: url('@/assets/images/backgrounds/bg_2.png');
  }

  &.background-3 {
    background-image: url('@/assets/images/backgrounds/bg_3.png');
  }

  &.background-4 {
    background-image: url('@/assets/images/backgrounds/bg_4.png');
  }

  &.background-5 {
    background-image: url('@/assets/images/backgrounds/bg_5.png');
  }

  &.background-6 {
    background-image: url('@/assets/images/backgrounds/bg_6.png');
  }

  &.background-7 {
    background-image: url('@/assets/images/backgrounds/bg_7.png');
  }

  &.background-8 {
    background-image: url('@/assets/images/backgrounds/bg_8.png');
  }

  &.background-9 {
    background-image: url('@/assets/images/backgrounds/bg_9.png');
  }

  &.background-10 {
    background-image: url('@/assets/images/backgrounds/bg_10.png');
  }
  &.background-11 {
    background-image: url('@/assets/images/backgrounds/bg_11.png');
  }
  &.background-12 {
    background-image: url('@/assets/images/backgrounds/bg_12.png');
  }
  &.background-13 {
    background-image: url('@/assets/images/backgrounds/bg_13.png');
  }
  &.background-14 {
    background-image: url('@/assets/images/backgrounds/bg_14.png');
  }
  &.background-15 {
    background-image: url('@/assets/images/backgrounds/bg_15.png');
  }
  &.background-16 {
    background-image: url('@/assets/images/backgrounds/bg_16.png');
  }
  &.background-17 {
    background-image: url('@/assets/images/backgrounds/bg_17.png');
  }
  &.background-18 {
    background-image: url('@/assets/images/backgrounds/bg_18.png');
  }
  &.background-19 {
    background-image: url('@/assets/images/backgrounds/bg_19.png');
  }
  &.background-20 {
    background-image: url('@/assets/images/backgrounds/bg_20.png');
  }
  &.background-21 {
    background-image: url('@/assets/images/backgrounds/bg_21.png');
  }
  &.background-22 {
    background-image: url('@/assets/images/backgrounds/bg_22.png');
  }
  &.background-23 {
    background-image: url('@/assets/images/backgrounds/bg_23.png');
  }
  &.background-24 {
    background-image: url('@/assets/images/backgrounds/bg_24.png');
  }
  &.background-25 {
    background-image: url('@/assets/images/backgrounds/bg_25.png');
  }
  &.background-26 {
    background-image: url('@/assets/images/backgrounds/bg_26.png');
  }
  &.background-27 {
    background-image: url('@/assets/images/backgrounds/bg_27.png');
  }
  &.background-28 {
    background-image: url('@/assets/images/backgrounds/bg_28.png');
  }
  &.background-29 {
    background-image: url('@/assets/images/backgrounds/bg_29.png');
  }
  &.background-30 {
    background-image: url('@/assets/images/backgrounds/bg_30.png');
  }
  &.background-31 {
    background-image: url('@/assets/images/backgrounds/bg_31.png');
  }
  &.background-32 {
    background-image: url('@/assets/images/backgrounds/bg_32.png');
  }
  &.background-33 {
    background-image: url('@/assets/images/backgrounds/bg_33.png');
  }
  &.background-34 {
    background-image: url('@/assets/images/backgrounds/bg_34.png');
  }
  &.background-35 {
    background-image: url('@/assets/images/backgrounds/bg_35.png');
  }
  &.background-36 {
    background-image: url('@/assets/images/backgrounds/bg_36.png');
  }
  &.background-37 {
    background-image: url('@/assets/images/backgrounds/bg_37.png');
  }
  &.background-38 {
    background-image: url('@/assets/images/backgrounds/bg_38.png');
  }
  &.background-39 {
    background-image: url('@/assets/images/backgrounds/bg_39.png');
  }
  &.background-40 {
    background-image: url('@/assets/images/backgrounds/bg_40.png');
  }
  &.background-41 {
    background-image: url('@/assets/images/backgrounds/bg_41.png');
  }
  &.background-42 {
    background-image: url('@/assets/images/backgrounds/bg_42.png');
  }
  &.background-43 {
    background-image: url('@/assets/images/backgrounds/bg_43.png');
  }
  &.background-44 {
    background-image: url('@/assets/images/backgrounds/bg_44.png');
  }
  &.background-45 {
    background-image: url('@/assets/images/backgrounds/bg_45.png');
  }
  &.background-46 {
    background-image: url('@/assets/images/backgrounds/bg_46.png');
  }
  &.background-47 {
    background-image: url('@/assets/images/backgrounds/bg_47.png');
  }
  &.background-48 {
    background-image: url('@/assets/images/backgrounds/bg_48.png');
  }
  &.background-49 {
    background-image: url('@/assets/images/backgrounds/bg_49.png');
  }
  &.background-50 {
    background-image: url('@/assets/images/backgrounds/bg_50.gif');
  }
  &.background-51 {
    background-image: url('@/assets/images/backgrounds/bg_51.gif');
  }
}
.profile-stand {
  background-repeat: no-repeat;
  background-position: center;
  height: 135px;
  width: 68px;

  &.stand-0 {
    background-image: url('@/assets/images/backgrounds/stand_0.png');
  }
  &.stand-1 {
    background-image: url('@/assets/images/backgrounds/stand_1.png');
  }
  &.stand-2 {
    background-image: url('@/assets/images/backgrounds/stand_2.png');
  }
  &.stand-3 {
    background-image: url('@/assets/images/backgrounds/stand_3.png');
  }
  &.stand-4 {
    background-image: url('@/assets/images/backgrounds/stand_4.png');
  }
  &.stand-5 {
    background-image: url('@/assets/images/backgrounds/stand_5.png');
  }
  &.stand-6 {
    background-image: url('@/assets/images/backgrounds/stand_6.png');
  }
  &.stand-7 {
    background-image: url('@/assets/images/backgrounds/stand_7.png');
  }
  &.stand-8 {
    background-image: url('@/assets/images/backgrounds/stand_8.png');
  }
  &.stand-9 {
    background-image: url('@/assets/images/backgrounds/stand_9.png');
  }
  &.stand-10 {
    background-image: url('@/assets/images/backgrounds/stand_10.png');
  }
  &.stand-11 {
    background-image: url('@/assets/images/backgrounds/stand_11.png');
  }
  &.stand-12 {
    background-image: url('@/assets/images/backgrounds/stand_12.png');
  }
  &.stand-13 {
    background-image: url('@/assets/images/backgrounds/stand_13.png');
  }
  &.stand-14 {
    background-image: url('@/assets/images/backgrounds/stand_14.png');
  }
  &.stand-15 {
    background-image: url('@/assets/images/backgrounds/stand_15.png');
  }
  &.stand-16 {
    background-image: url('@/assets/images/backgrounds/stand_16.png');
  }
  &.stand-17 {
    background-image: url('@/assets/images/backgrounds/stand_17.png');
  }
  &.stand-18 {
    background-image: url('@/assets/images/backgrounds/stand_18.png');
  }
  &.stand-19 {
    background-image: url('@/assets/images/backgrounds/stand_19.png');
  }
  &.stand-20 {
    background-image: url('@/assets/images/backgrounds/stand_20.png');
  }
  &.stand-21 {
    background-image: url('@/assets/images/backgrounds/stand_21.gif');
  }
}

.profile-overlay {
  background-repeat: no-repeat;
  background-position: center;
  height: 135px;
  width: 68px;

  &.overlay-0 {
    background-image: url('@/assets/images/backgrounds/overlay_0.png');
  }
  &.overlay-1 {
    background-image: url('@/assets/images/backgrounds/overlay_1.png');
  }
  &.overlay-2 {
    background-image: url('@/assets/images/backgrounds/overlay_2.png');
  }
  &.overlay-3 {
    background-image: url('@/assets/images/backgrounds/overlay_3.png');
  }
  &.overlay-4 {
    background-image: url('@/assets/images/backgrounds/overlay_4.png');
  }
  &.overlay-5 {
    background-image: url('@/assets/images/backgrounds/overlay_ring.gif');
  }
}